<header class="flex flex-row justify-end items-center w-full h-16 bg-black"></header>

<article class="flex flex-col items-center justify-center h-[92.3vh]">
    <section class="flex flex-row flex-wrap justify-center items-start w-3/4 rounded-lg">
        <div class="flex flex-row justify-start items-center w-full h-14 bg-[#fac863] rounded-t-lg">
            <fa-icon [icon]="this.action === 'add' ? faCalendar : faEdit " class="ml-6 text-2xl text-orange-700" title="Crear"></fa-icon>
        </div>

        <div>
            <p>testing</p>
        </div>
    </section>
</article>