<aside class='homebody-left flex flex-col items-center justify-center w-1/4 pt-10'>
  <article class="flex flex-col gap-6 items-center w-4/5 h-full">
    <h1 class="text-4xl font-bold pr-4">Opciones</h1>

    <section class="flex flex-col align-center mx-auto pb-6 bg-white border-t-4 border-[#fac863] rounded-lg">
      <div class="flex flex-col gap-6">
        <ul class="flex flex-col gap-4 list-disc ml-7 mt-4">
          <li class="w-[78%] mx-auto">
            <p>
              Haga clic en una fecha para crear un evento
              <fa-icon [icon]="faCalendar" class="ml-0.5 text-[#c89c45] hover:text-[#dfb054]" title="Crear"></fa-icon>
            </p>
          </li>

          <li class="w-[78%] mx-auto">
            <p>
              Haga clic en un evento para poder editarlo
              <fa-icon [icon]="faEdit" class="ml-0.5 text-[#c89c45] hover:text-[#dfb054]" title="Editar"></fa-icon>
            </p>
          </li>
        </ul>

        <div class="ml-8">
          <label class="cursor-pointer">
            <input
              type='checkbox'
              [checked]='!calendarOptions.weekends'
              (change)='handleWeekendsToggle()'
            />
            Alternar fines de semana
          </label>
        </div>

        <hr>

        <div class="ml-7 mr-10">
          <h3 class="text-2xl font-bold pr-4 mb-5">Tipos de Eventos</h3>

          <ul class="flex flex-col gap-4 list-disc">
            <ng-container *ngFor="let tag of tags">
              <li class="flex flex-row gap-4 items-center">
                <p> {{ tag.tagNameSP }} </p>
                <div class="h-[10px] w-full border border-black" [style]="'background-color: ' + tag.color"></div>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
    </section>

    <h2 class="text-4xl font-bold mt-4">Eventos ({{initialEvents.length}})</h2>
  </article>
</aside>

<main class='homebody-right w-3/4'>
  <article class="border-t-4 border-[#fac863] bg-white pb-8">
    <full-calendar class="mt-4 px-10" *ngIf='calendarVisible' [options]='calendarOptions'>
        <ng-template #eventContent let-arg>
          <article class="flex flex-row flex-wrap items-center ml-1"> 
              <b>{{ formatForEvent(arg.event.title) }}</b>
          </article>
      </ng-template>
    </full-calendar>
  </article>
</main>
