<section class="mr-8">
    <button type="button" class="rounded-md bg-slate-600 mx-2 px-4 h-10 hover:bg-slate-700 active:scale-95"
        (click)="isLoged() ? showProfile() : toggleModal()">
        <fa-icon class="text-white" [icon]="faUser"></fa-icon>
    </button>

    <ng-container *ngIf="isLoged()">
        <button type="button" class="rounded-md bg-slate-600 mx-2 px-4 h-10 hover:bg-slate-700 active:scale-95"
            (click)="logout()">
            <fa-icon class="text-white" [icon]="faRightToBracket"></fa-icon>
        </button>
    </ng-container>
</section>

<!-- Modal -->
<div *ngIf="modalStage" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
    <div class="relative w-[600px] my-6 mx-auto">
        <!--content-->
        <div class="border-0 rounded-lg shadow-lg relative flex flex-col items-center w-full bg-white outline-none focus:outline-none">

            <!--header-->
            <div class="flex items-start justify-between w-full p-5 border-b border-solid border-slate-200 rounded-t">
                <h3 class="text-3xl font-semibold">
                    Inicio Sesión
                </h3>

                <button class="relative bottom-[10px] opacity-5 p-1 ml-auto border-0 text-black  float-right text-3xl leading-none font-semibold outline-none focus:outline-none" (click)="toggleModal()">
                    <span class="bg-transparent text-black h-6 w-10 text-5xl block outline-none focus:outline-none">
                      x
                    </span>
                </button>

            </div>

            <!--body-->
            <div class="flex flex-row w-full rounded-lg p-6">
                <form class="flex flex-col items-center w-full" [formGroup]="loginForm" (ngSubmit)="login($event)">
                    <div class="relative mb-3 w-3/5" data-te-input-wrapper-init>
                        <input type="text" class="peer block min-h-[auto] w-full rounded border py-[0.32rem] px-3 leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                            formControlName="authUser"
                            placeholder="Nombre de Usuario o Email" />
                
                        <label for="exampleFormControlInput1" class="pointer-events-none absolute top-0 left-3 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none">
                            Nombre de Usuario o Email
                        </label>
                    </div>
                
                    <div class="relative mb-3 w-3/5" data-te-input-wrapper-init>
                        <input type="password" class="peer block min-h-[auto] w-full rounded border py-[0.32rem] px-3 leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0" 
                            formControlName="password"
                            placeholder="Contraseña" />
                
                        <label for="exampleFormControlInput1" class="pointer-events-none absolute top-0 left-3 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none">
                            Contraseña
                        </label>
                    </div>
                
                    <div class="flex items-center justify-end w-full p-6 border-t border-solid border-slate-200 rounded-b">
                        <button class="bg-gray-500 text-white active:bg-gray-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="submit">
                            Inicio
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div *ngIf="modalStage" class="opacity-25 fixed inset-0 z-40 bg-black"></div>

